<!DOCTYPE html>
<html>
	<head>
		<title>Pick a Project</title>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<% if client_signed_in? %>
		<body class="hold-transition skin-blue sidebar-mini">
			<div class="wrapper">
				<!-- Main Header -->
				<%= render  partial: "/layouts/header" %>

				<!-- Left side column. contains the logo and sidebar -->
				<%= render partial: "/layouts/sidebar_left" %>

				<!-- Content Wrapper. Contains page content -->
				<div class="content-wrapper">
					<%= yield %>
				</div><!-- /.content-wrapper -->

				<!-- Main Footer -->
				<%= render partial: "/layouts/footer" %>

				<!-- Control Sidebar -->
				<%= render partial: "/layouts/sidebar_control" %>
			</div><!-- ./wrapper -->
		</body>

	<% else %>
		<body class="layout-top-nav skin-blue register-page">
			<!-- Main Header -->
			<%= render  partial: "/layouts/header" %>
			
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<%= yield %>
			</div><!-- /.content-wrapper -->

			<!-- Main Footer -->
			<%= render partial: "/layouts/footer" %>
		</body>
	<% end %>
</html>
